@{ 
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ToDoList.Models.Item>

    <h2>To Do List</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
        @foreach (var listItem in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => listItem.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => listItem.Category.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = listItem.ItemId }) | @Html.ActionLink("Edit This", "Edit", new { id = listItem.ItemId }) | @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId })
                </td>
               <td>
                   @using (@Html.BeginForm("Done", "Items", new { id = listItem.ItemId }))
                {
                       <p>Done @Html.HiddenFor(modelItem => listItem.ItemId) @Html.CheckBoxFor(modelItem => listItem.Done, new { onclick = "this.form.submit();" })</p>
                   }
               </td>
            </tr>
        }
    </table>
      
    <p>@Html.ActionLink("Add new item", "Create")</p>
