@{ 
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ToDoList.Models.Item>

    <h2>To Do List</h2>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
    <ul>
        @foreach(var listItem in Model)
        {
            <li>
                
                @Html.DisplayFor(modelItem =>listItem.Description) | @Html.ActionLink("Details", "Details", new { id = listItem.ItemId }) | @Html.ActionLink("Edit This", "Edit", new { id = listItem.ItemId }) | @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId }) ...... complete?
                @*@Html.CheckBoxFor(modelItem => listItem.Done, new { onclick = "this.form.submit();"})*@


                @using (@Html.BeginForm("Done", "Items", new { id = listItem.ItemId }))
                {
                    @Html.HiddenFor(modelItem => listItem.ItemId)

                    @*@Html.EditorFor(modelItem => listItem.Done)*@

                    @Html.CheckBoxFor(modelItem => listItem.Done, new { onclick = "this.form.submit();"})
                }

            </li>


 
        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>
</body>