@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ToDoList.Models.Category>

<h2>Categories</h2>
<hr/>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>

<ul>
    @foreach(var categoryList in Model)
    {
        <li>
            @Html.DisplayFor(modelCategory => categoryList.Name) | @Html.ActionLink("Edit", "Edit", new { id = categoryList.CategoryId }) | @Html.ActionLink("Delete", "Delete", new { id = categoryList.CategoryId })
        </li>

    }
</ul>

<p>@Html.ActionLink("Add new Category", "Create")</p>